/* PAGE styles
==================================================================================================== */
html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    font: normal 14px $helvetica;
    color: $fontColor;
    background: $white;
    // padding: 2em 0 4em;
}

header {
    padding: 2em;
    text-align: center;
    h1 {
        font-size: 2em;
        font-weight: bold;
    }
    h2 {
        padding: 0.5em 0;
        a {
            color: #B83F2B;
            text-decoration: none;
        }
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 2em 3em;
    background: $white;
}

.thumbs {
    list-style: none;
    margin: 0;
    @extend .clearfix;
    li {
        display: block;
        float: left;
        margin-bottom: 1em;
        width: 100%;
        img {
            display: block;
            margin: 0 auto;
        }
        @media all and (min-width: 480px) {
            width: auto;
            img {
                max-width: 100%;
                margin: 0 1em;
            }
        }
    }
}